:root{
    --background:#000000;
    --texts: whitesmoke;
}

@font-face {
    font-family: gameFont;
    src: url("./PressStart2P-Regular.ttf") 
}

*{
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
    color: var(--texts);
    font-family: gameFont, sans-serif;

}

button{
    background-color: black;
    padding: 1em;
}

body{
    background-color: var(--background);
    color: var(--texts);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 20px;
}

header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px, 20px;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}

#gameCanvas{
    width: 80%;
    height: 90%;
    border: 1px solid var(--texts);

    display: flex;
    z-index: 1;
}

.button-box{
    display: flex;
    height: 100%;
    justify-content:space-between;
    gap:1em;
    width: 80%;
}

img{
    height: 1em;
}

.button-box>img{
    height: 3.8em;
}

.button-box>div>img{
    height: 3.8em;
}

.button-box>img:active{
    transform: scale(90%);
}

#stopMusic{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(103%) contrast(101%);
}

.enterName{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

table{
    border: solid white 1px;
    padding: 1em;
}

@media only screen and (min-width:360px) {
    *{
        font-size: 12px;
    }
}

@media only screen and (min-width:600px) {
    *{
        font-size: 16px;
    }
}

@media only screen and (min-width:550px) {
    .enterName{
        flex-direction: row;
    }
}

@media only screen and (min-width:800px) {
    *{
        font-size: 20px;
    }
}
